body {
  background-image: url(Stupa_Borobudur.jpg);
    background-attachment: scroll;
    float: right;
    text-align: right;
    width: 950px;
    height: 600px;

}

img {
  float: left;
}

div {
    background-color: white;
    z-index: 1;
}
